.post_box {
    padding:10px;
    background-color: whitesmoke;
    border-radius: 15px;
}

.reply_box {
    margin-top: 7px;
    margin-left: 5%;
}

.comment-btn {
    border-radius: 25px;
    width: 7em;
    height: 2em;
    padding: 2px;
}

.send-btn {
    width: 85px;
    height: 45px;
    bottom: 30px;
    right: 20px;
    position:fixed;
}

@media (min-width: 768px) {
    /* md 以上の画面 */
    .offcanvas-div {
        width: 42%;
    }
    .send-btn {
        width: 256px;
        height: 64px;
        font-size: 1.5em;
    }
}

.post_anker {
    padding-top: 64px;
    margin-top:-64px;
}

#main_textarea {
    height: 50vh;
}

.ad-box {
    margin-bottom: 30px;
}

@media (max-height: 500px) {
   #main_textarea {
        height: 30vh;
    }
}

.user-text {
    white-space: pre-wrap; 
    overflow-wrap: anywhere;
}

.form-side-margin {
    margin-left: 3%;
    margin-right:3%;
}

.subinfo-th {
    white-space: nowrap;
}

/* ------------レビュー用のスター--------- */
.star5_rating {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #cecece;
    /* グレーカラー 自由に設定化 */
}

.star5_rating:before,
.star5_rating:after {
    content: '★★★★★';
    font-size: 2em;
}

.star5_rating:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #fbc634;
    /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5.0"]:after {
    width: 100%;
}

/* 星5 */
.star5_rating[data-rate="4.5"]:after {
    width: 90%;
}

/* 星4.5 */
.star5_rating[data-rate="4.0"]:after {
    width: 80%;
}

/* 星4 */
.star5_rating[data-rate="3.5"]:after {
    width: 70%;
}

/* 星3.5 */
.star5_rating[data-rate="3.0"]:after {
    width: 60%;
}

/* 星3 */
.star5_rating[data-rate="2.5"]:after {
    width: 50%;
}

/* 星2.5 */
.star5_rating[data-rate="2.0"]:after {
    width: 40%;
}

/* 星2 */
.star5_rating[data-rate="1.5"]:after {
    width: 30%;
}

/* 星1.5 */
.star5_rating[data-rate="1.0"]:after {
    width: 20%;
}

/* 星1 */
.star5_rating[data-rate="0.5"]:after {
    width: 10%;
}

/* 星0.5 */
.star5_rating[data-rate="0.0"]:after {
    width: 0%;
}

/* 星0 */

/* 匿名アイコンのサイジング */
.review-anon-icon {
    width: 55px;
}

.review-comment-box {
    padding: 10px;
    background-color: lavender;
    border-radius: 15px;
    overflow-wrap: anywhere;
    min-height: 57px;
}

@media screen and (min-width:576px) {
    .review-anon-icon {
        width: 45px;
    }
    .review-comment-box {
        min-height: 47px;
    }
}

.bg-tsukuba-purple {
    background-color: #6600cc;
}

.bg-tsukuba-itf {
    background-color: #00bfd6;
}