.logo-img{
    width: 20%;
}

.color-dark-blue {
    color: #6290FF;
}

@media (max-width: 768px) {
    /* md 以下の画面 */
    .pc-only {
        display: none;
    }

    .logo-img{
        width: 80%;
    }
}

.newpost-thread {
    font-size: 0.5em;
}

.googleCalendar iframe {
    width: 100%;
    height: 500px;
}

.bg-tsukuba-bronze {
    background-color: #7c5830;
}

.bg-tsukuba-novice {
    background-color: #6290FF;
}

.bg-tsukuba-silver {
    background-color: #bec1c3;
}

.bg-tsukuba-gold {
    background-color: #F8B400;
}

.bg-tsukuba-master {
    background-color: #FF7F00;
}