{% load static %}
<h5>レビュー情報</h5>
  <div class="row">
    <h6>総合評価</h6>
    <div class="d-flex justify-content-center align-items-center">
        <span class="star5_rating" id="star5-rating" data-rate="4.0"></span>
        <p class="fs-2 fw-bold d-inline-block mb-0 mx-2">4.23 </p>
        <p class="d-inline-block mb-0">(16件の評価)</p>
    </div>
    <div class="col d-flex justify-content-center">
      <table class="table table-sm table-borderless" style="width: 90%;">
        <tbody>
          <tr>
            <th scope="row">楽単度</th>
            <td class="fw-bolder">4.2</td>
          </tr>
          <tr>
            <th scope="row">充実度</th>
            <td class="fw-bolder">2.2</td>
          </tr>
          <tr>
          <td>評価項目の詳細情報はこちら</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
    <div class="col d-block justify-content-center mt-2 mb-4 w-75 mx-auto">
        <span class="badge rounded-pill bg-danger w-auto">鬼単(22)</span>
        <span class="badge rounded-pill bg-danger w-auto">先生劣(21)</span>
        <span class="badge rounded-pill bg-primary w-auto">レポートあり(16)</span>
        <span class="badge rounded-pill bg-primary w-auto">中間試験あり(12)</span>
        <span class="badge rounded-pill bg-dark w-auto">出席点数(8)</span>
        <span class="badge rounded-pill bg-dark w-auto">先生優(3)</span>
        <span class="badge rounded-pill bg-dark w-auto">持ち込み可(1)</span>
    </div>
    <h6>コメント一覧</h6>
    <div class="col d-flex justify-content-center">
      <table class="table table-sm table-borderless" style="width: 90%;">
        <tbody>
          <tr>
            <td class="review-anon-icon align-middle">
              <img src="{% static 'board/anonymous_icon.jpeg' %}" alt="user icon" class="img-fluid mx-auto">
            </td>
            <td class="fw-light">
            <div class="review-comment-box">
              先生の話を聞くだけなのに出席取るのは最悪です。
              この講義は受ける価値はありませんが、単位は出ます。
            </div>
            </td>
          </tr>
          <tr>
            <td class="review-anon-icon align-middle">
              <img src="{% static 'board/anonymous_icon.jpeg' %}" alt="user icon" class="img-fluid mx-auto">
            </td>
            <td class="fw-light">
            <div class="review-comment-box">
              先生の話を聞くだけなのに出席取るのは最悪です。
              この講義は受ける価値はありませんが、単位は出ます。
            </div>
            </td>
          </tr>
        </tbody>
    </table>    
    </div>
    <div class="d-md-none">
        <a href="#top">BACK TO TOP</a>
    </div>